<div id="content">
  <%= image_tag @blogpost.image.url(:display), :alt => '', :size => "720x360" if @blogpost.image? %>
  <div class="blogArticle">
    <h1 class="title"><%= @blogpost.title %></h1>
    <p class="postDetails">By <span class="postAuthor"><%= @blogpost.author %></span>, <span class="postDate"><%= display_date(@blogpost.date) %></span><br /> <span class="tags"><%= @blogpost.tags %></span></p>
	<div class = "hidden_edit">
	  	<% if @logged_user &&(@blogpost.author == @logged_user.name || @logged_user.admin) %>
		  <%= link_to "Edit post", edit_blogpost_path(@blogpost) %> |   
		  <%= link_to "Remove", @blogpost, :confirm => 'Are you sure?', :method => :delete %>
		<% end %>
	</div>
    <p class="introPara"></p>
    <div class="topContent"><%= format @blogpost.content %> </div>
    
    <!--
    <a target="_blank" href='http://twitter.com/share?text=I’m struck again by the great power in this really simple act of making the topic of discussion into a visual artefact – into a thing we can discuss.'>Tweet</a>
    <a target="_blank" href='http://www.facebook.com/sharer.php?u=http://www.secondroad.com.au/what's-new/blog/making-it-visual/&t=I’m struck again by the great power in this really simple act of making the topic of discussion into a visual artefact – into a thing we can discuss.'>Share on Facebook</a>
    -->

  </div>
  <div class="blogDetailExtras">
    <div class="shareArticle">
      <script type="text/javascript">var addthis_pub = "2876dadf-99f2-4147-aa3e-7e7ca8ac86e8";var addthis_options = 'twitter, facebook, email';</script> 
      <a class="lnk-share shareHover" onclick="return addthis_sendto()" onmouseout="addthis_close()" 
        onmouseover="return addthis_open(this, '', '[url]', '[TITLE]')" href="http://www.addthis.com/bookmark.php?v=20">SHARE THIS ARTICLE</a>
      <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js"></script>
    </div>

  </div>

  <div style= 'margin:0 44px; clear:both; padding-top: 10px'>
    
  <% if @blogpost.enable_comments %>
    <%= raw(disqus_thread) %>
  <% end %>


  </div>
</div>
<div id="extras"></div>
 

<% content_for :footer do %>
  <script type="text/javascript">
    //<![CDATA[
    var Page_Validators =  new Array(document.getElementById("ContentPlaceHolderDefault_BodyContent_comments_6_RegularExpressionValidator1"),
    document.getElementById("ContentPlaceHolderDefault_BodyContent_comments_6_RequiredFieldValidator3"),
    document.getElementById("ContentPlaceHolderDefault_BodyContent_comments_6_RequiredFieldValidator2"));
    //]]>
  </script>

  <script type="text/javascript">
    //<![CDATA[
    var ContentPlaceHolderDefault_BodyContent_comments_6_RegularExpressionValidator1 = document.all ? document.all["ContentPlaceHolderDefault_BodyContent_comments_6_RegularExpressionValidator1"] : document.getElementById("ContentPlaceHolderDefault_BodyContent_comments_6_RegularExpressionValidator1");
ContentPlaceHolderDefault_BodyContent_comments_6_RegularExpressionValidator1.controltovalidate = "ContentPlaceHolderDefault_BodyContent_comments_6_Email";
ContentPlaceHolderDefault_BodyContent_comments_6_RegularExpressionValidator1.errormessage = "Email Address Incorrect Format";
ContentPlaceHolderDefault_BodyContent_comments_6_RegularExpressionValidator1.display = "None";
ContentPlaceHolderDefault_BodyContent_comments_6_RegularExpressionValidator1.validationGroup = "contact";
ContentPlaceHolderDefault_BodyContent_comments_6_RegularExpressionValidator1.evaluationfunction = "RegularExpressionValidatorEvaluateIsValid";
ContentPlaceHolderDefault_BodyContent_comments_6_RegularExpressionValidator1.validationexpression = "\\w+([-+.\']\\w+)*@\\w+([-.]\\w+)*\\.\\w+([-.]\\w+)*";
var ContentPlaceHolderDefault_BodyContent_comments_6_RequiredFieldValidator3 = document.all ? document.all["ContentPlaceHolderDefault_BodyContent_comments_6_RequiredFieldValidator3"] : document.getElementById("ContentPlaceHolderDefault_BodyContent_comments_6_RequiredFieldValidator3");
ContentPlaceHolderDefault_BodyContent_comments_6_RequiredFieldValidator3.controltovalidate = "ContentPlaceHolderDefault_BodyContent_comments_6_Name";
ContentPlaceHolderDefault_BodyContent_comments_6_RequiredFieldValidator3.errormessage = "Please enter a first name";
ContentPlaceHolderDefault_BodyContent_comments_6_RequiredFieldValidator3.display = "None";
ContentPlaceHolderDefault_BodyContent_comments_6_RequiredFieldValidator3.validationGroup = "contact";
ContentPlaceHolderDefault_BodyContent_comments_6_RequiredFieldValidator3.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
ContentPlaceHolderDefault_BodyContent_comments_6_RequiredFieldValidator3.initialvalue = "";
var ContentPlaceHolderDefault_BodyContent_comments_6_RequiredFieldValidator2 = document.all ? document.all["ContentPlaceHolderDefault_BodyContent_comments_6_RequiredFieldValidator2"] : document.getElementById("ContentPlaceHolderDefault_BodyContent_comments_6_RequiredFieldValidator2");
ContentPlaceHolderDefault_BodyContent_comments_6_RequiredFieldValidator2.controltovalidate = "ContentPlaceHolderDefault_BodyContent_comments_6_Comment";
ContentPlaceHolderDefault_BodyContent_comments_6_RequiredFieldValidator2.errormessage = "Please enter a comment";
ContentPlaceHolderDefault_BodyContent_comments_6_RequiredFieldValidator2.display = "None";
ContentPlaceHolderDefault_BodyContent_comments_6_RequiredFieldValidator2.validationGroup = "contact";
ContentPlaceHolderDefault_BodyContent_comments_6_RequiredFieldValidator2.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
ContentPlaceHolderDefault_BodyContent_comments_6_RequiredFieldValidator2.initialvalue = "";
//]]>
  </script>


  <script type="text/javascript">
  //<![CDATA[

    var Page_ValidationActive = false;
    if (typeof(ValidatorOnLoad) == "function") {
      ValidatorOnLoad();
    }

    function ValidatorOnSubmit() {
      if (Page_ValidationActive) {
        return ValidatorCommonOnSubmit();
      }
      else {
        return true;
      }
    }
        //]]>
  </script>

  <script type="text/javascript">$(function () {var wrapperWidth = $("#content").width() + $("#extras").width();$("#wrapper").width(wrapperWidth);});</script>
<% end %>