<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <%= stylesheet_link_tag "reset" %>
  <%= stylesheet_link_tag "style" %>
  
</head>
<body class = "caseStudy">
<div>

<h1>
  <%= @casestudy.headline %>
</h1>
<p>
  <%= @casestudy.strapline %>
</p>
<p>
  <strong>Story:</strong>
  <%= @casestudy.story %>
</p>

<p>
  <%= link_to "Edit", edit_casestudy_path(@casestudy) %> |
  <%= link_to "Destroy", @casestudy, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", casestudies_path %>
</p>
</div>	
</body>
</html>