<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <%= stylesheet_link_tag "reset" %>
  <%= stylesheet_link_tag "style" %>
  
</head>
<body class = "case_study_display_box">
	<h1>
	  <%= @casestudy.headline %>
	</h1>
	<h3>
	  <%= @casestudy.strapline %>
	</h3>
	<div id = "content">
		<p>
		  <%= simple_format @casestudy.story %>
		</p>
	  	<% if @logged_user && (@logged_user.admin) %>		
		<p>
		  <%= link_to "Edit", edit_casestudy_path(@casestudy) %>
		</p>
		<% end %>
	</div>	
</body>
</html>
