<% title "Casestudies" %>


<p><%= link_to "New Casestudy", new_casestudy_path %></p>
<br />
<br />

<% for casestudy in @casestudies %>
<h1><%= casestudy.question %></h1>
<h1><%= casestudy.headline %></h1>
<p><%= casestudy.story %></p>

<p><%= link_to "Edit", edit_casestudy_path(casestudy) %> &nbsp;&nbsp;<%= link_to "Delete", casestudy, :confirm => 'Are you sure?', :method => :delete %></p>
<br />
<br />

<% end %>
