<div class = 'person_edit'>
  <h1><%= @person.name %><%= flash[:notice] %></h1>
  <%= form_tag (update_password_path) do%>
    <%= hidden_field_tag(:id, @person.id) %>
	  <p>
	    <%= label_tag (:password, "New password")  %><br />
	    <%= text_field(:person, :password) %>
	  </p>
	  <p>
	    <%= label_tag (:confirm, "Could you retype that...") %><br />
	    <%= text_field(:person, :password_confirmation) %>
	  </p>
	  <p>
	  	<%= submit_tag("Submit") %>
	  </p>
    
  <% end %>

</div>