<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <%= stylesheet_link_tag "reset" %>
  <%= stylesheet_link_tag "style" %>
  
</head>
<body class = "display_box">

	  <div class="people-image">
	    <%= image_tag @person.portrait.url(:display),:width => "200px",:alt => '', :id => "people-image" %>
	  </div>



	<h1><%= @person.name %> <span> e: <a '#'><%= mail_to @person.email, nil, :encode => "javascript" %></a></span></h1>

	  	<% if @logged_user && (@person.id == @logged_user.id || @logged_user.admin) %>
	      <div class = "hidden_edit">	
		    <%= link_to "Edit profile", edit_person_path(@person), :target => "_top" %>  
	      </div>
		<% end %>

	<div id="content">
	  <p class="intro"><%= @person.role %></p>
	  <p><%= format @person.bio %></p>
	</div>



</body>
</html>




