<% content_for :head do %>
<script type="text/javascript" src="/js/jquery.mousewheel.min.js"></script>
<script type="text/javascript">$(function () { umbpageid = 1104;var cwid = $("#content").width();var lwid = $("#communityProfiles").width();var wrapperWidth = cwid + lwid + 940;$('#wrapper').css('width', wrapperWidth);$("body, html").mousewheel(function (event, delta) {this.scrollLeft -= (delta * 55); event.preventDefault();});});</script>
<% end %>

<div id="content">
  <a class="viewToggle">VIEW AS LIST</a>
  <h1>Our Community</h1>
  <div class="wysiwyg">
	<p><span><span>We're an eclectic bunch: rhetoricians and designers,
      pragmatists and theorists, consultants and educators. Our
      real-world experiences, collaborative spirit and deep practice in
      the methods of design and conversation inform our
      approach.</span></span></p>

    <p><span><span>At Second Road we share</span> <span>a love for the
      creative process, and a belief in the power<br />
      of thinking together.</span></span></p>
  </div>
  <div class="wysiwyg">
	<p><span><span>We are a</span> <strong>STRATEGY + INNOVATION</strong> <span>firm<br />
      with a big difference. We are unashamedly working to enable organizations not only<br />to be smarter - but more human.</span></span></p>

    <p><span><span>Everything we do is about unlocking and empowering imagination and intelligence<br />within organizations.</span></span></p>
  </div>
</div>
<div id="communityProfiles">
  <img alt="" src="/images/articleListing/diag-shape.png" class="diagShape" />
    
  <ul class="communityList">
	</li>
	<% for person in @people %>

      <%= link_to "#{person.name}", "people/display_box/#{person.id}?KeepThis=true&TB_iframe=true&height=600&width=800", :class => "thickbox overlay" %>
	<% end %>

    <li><a class="articleClose">CLOSE</a></li>
  </ul>
  <div class='theBoss'> 
     <%= image_tag @tgs.headshot.url(:listing),:alt => '', :size => "180x180" %>
	 <%= link_to "people/display_box/#{@tgs.id}?KeepThis=true&TB_iframe=true&height=600&width=800", :class => "thickbox overlay" do%>
	   <span class = 'memberName'>Tony Golsby-Smith</span>
	 <% end %>
  </div>

  <% members = @people.reverse %>
  <% while members.length > 0 %>
    <div class = "membersBox">
      <% 6.times do %>
        <% if members.length > 0 %>
          <% member = members.pop %>
		  <% unless member.name == "Tony Golsby-Smith" %>
          <div class = "member">
            <%= image_tag member.headshot.url(:listing), :alt=> member.name, :size => "180x180" %>
			<%= link_to "people/display_box/#{member.id}?KeepThis=true&TB_iframe=true&height=600&width=800", :class => "thickbox overlay"  do%>
	          <span class= 'memberName'><%= member.name %></span>
            <% end %>
		  </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>



    <div id="promos"></div>
</div>

<% unless browser_name == "ipad" || browser_name == "iphone" %>  
 <div id="overlayLeft" style="display: block"><a></a></div><div id="overlayRight" style="display: block"><a></a></div>
<% end %>
