<% title "Person" %>

<p>
  <strong>First Name:</strong>
  <%= @person.first_name %>
</p>
<p>
  <strong>Last Name:</strong>
  <%= @person.last_name %>
</p>
<p>
  <strong>Role:</strong>
  <%= @person.role %>
</p>
<p>
  <strong>Bio:</strong>
  <%= simple_format @person.bio %>
</p>
<p>
  <%= image_tag @person.headshot.url(:listing) %>
</p>
<p>
  <%= image_tag @person.portrait.url(:display) %>
</p>


<p>
  <%= link_to "Edit", edit_person_path(@person) %> |
  <%= link_to "Destroy", @person, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", people_list_path %>
</p>
