<div id="content">
  <h1><%= @article.title %></h1>
  <div class="wysiwyg">   
    <p class="introPara"><%= @article.intro_para %></p>
    <p><strong>Publication:</strong> <%= @article.publication %></p>
    <p><strong>Date:</strong> <%= display_date(@article.published_date) %></p>
	<%= simple_format @article.body %>
    <p><% if @article.pdf %>
    	<%= link_to "To read more Download PDF here", @article.pdf.url %>
    <% end %>
    </div>
    
</div>

<div id="extras"></div>
<div id="promos">
  <div id="ContentPlaceHolderDefault_ExtrasPromotions2_pImageQuote" class="pImageQuote">
    <%= image_tag @article.article_image(:display), :alt => "", :size => ("360x360"), :id =>""  %>
    <p class="quote"><%= "'#{@article.image_quote}'" %></p>
  </div>
  <div id="ContentPlaceHolderDefault_ExtrasPromotions2_pOnlyQuote" class="pOnlyQuote">
    <p class="quote"><%= "'#{@article.para_quote}'" %></p>
    <p class="quoteBy"><span class="name"><%= @article.para_quote_author %></span> <span class="date"></span></p>
  </div>
  <div id="ContentPlaceHolderDefault_ExtrasPromotions2_pCheckers" class="pCheckers">
    <%= image_tag @article.promo_image.url(:display), :alt => "", :size => "180x180", :id => "" %>
    <%= link_to @article.promo_link_text.upcase, @article.promo_link_url %>
  </div>
</div>

<% content_for :footer do %>
  <script type="text/javascript">$(function () {
	var wrapperWidth = parseInt($('#content').width()) + parseInt($('#extras').width()) + parseInt($('#promos').width());$('#wrapper').css('width', wrapperWidth);});</script>
<% end %>