<% title "Article" %>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
<p>
  <%= image_tag @article.image_thumb.url(:display) %>
</p>
<p>
  <strong>Author:</strong>
  <%= @article.author %>
</p>
<p>
  <%= image_tag @article.article_image.url(:display) %>
</p>
<p>
  <strong>Publication:</strong>
  <%= @article.publication %>
</p>

<p>
  <strong>Intro Para:</strong>
  <%= @article.intro_para %>
</p>
<p>
  <strong>Body:</strong>
  <%= @article.body %>
</p>
<p>
  <strong>Para Quote:</strong>
  <%= @article.para_quote %>
</p>
<p>
  <strong>Para Quote Author:</strong>
  <%= @article.para_quote_author %>
</p>
<p>
  <strong>Topic:</strong>
  <%= @article.topic %>
</p>
<p>
  <strong>Keywords:</strong>
  <%= @article.keywords %>
</p>
<p>
  <strong>Meta Description:</strong>
  <%= @article.meta_description %>
</p>
<p>
  <strong>Image Quote:</strong>
  <%= @article.image_quote %>
</p>

<p>
  <%= image_tag @article.promo_image.url(:display) %>
</p>
<p>
  <strong>Promo Link Text:</strong>
  <%= @article.promo_link_text %>
</p>
<p>
  <strong>Promo Link Url:</strong>
  <%= @article.promo_link_url %>
</p>
<p>
  <strong>Published Date:</strong>
  <%= @article.published_date %>
</p>
<p>
  <strong>Publish At:</strong>
  <%= @article.publish_at %>
</p>
<p>
  <strong>Remove At:</strong>
  <%= @article.remove_at %>
</p>
<p>
  <strong>Display:</strong>
  <%= @article.display %>
</p>
<p>
  <%= image_tag @article.pdf.url %>
</p>



<p>
  <%= link_to "Edit", edit_article_path(@article) %> |
  <%= link_to "Destroy", @article, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", articles_path %>
</p>
