<style type="text/css" media="screen">
    ul {list-style:none;}
	#slides { position: absolute; top: 20px; left: 20px; width: 2160px; height: 540px; overflow: hidden; }
	#slides .slide { position: absolute; top: 0px; width: 720px;height:540px; }
	#slides .slide img { position: absolute; top: 0px; left: 180px; }
	#slides .slide .slidebutton { display: block; position: absolute; top: 0px; left: 0px; height: 540px; width: 180px; background: #693d5e; text-decoration: none; }
	#slides .active .slidebutton { background: #55354a; }
	/* Manually place slides to begin */

	#slide-1 { position: absolute; top: 0; left: 0px; z-index: 1; }
	#slide-2 { position: absolute; top: 0; left: 180px; z-index: 2; }
	#slide-3 { position: absolute; top: 0; left: 360px; z-index: 3; }
	#slide-4 { position: absolute; top: 0; left: 540px; z-index: 4; }
	#slide-5 { position: absolute; top: 0; left: 720px; z-index: 5; }
	#slide-6 { position: absolute; top: 0; left: 900px; z-index: 6; }
	
</style>

<div id="slideshow">
	<ul id="slides">
		<li class="slide open active" id="slide-1">
		  <a class="slidebutton" href="javascript:void(0);">
		    <div style="width:180px;height:540px;background:#333;">
		      	<%= image_tag 'home_1.png', :size=>"180x360", :style => "left:0" %>
		        <div style = "width:180px;height:180px;left:0;margin-top:360px;background:#000;text-align:center">
			      	<h3 style = "padding:20px 0 0 0">STRATEGIZE</h3>
			        <p style = "padding:20px 20px 0 20px">Define direction in an age of uncertainty.</p>
			    </div>
		    </div>
		  </a>
	      <div style = "width:1080px;">	
		    <%= image_tag "green.gif", :size=>"1080x540" %>		
	      </div>
		</li>
		<li class="slide open" id="slide-2">
		  <a class="slidebutton" href="javascript:void(0);">
		      	<%= image_tag 'home_2.png', :size=>"180x360", :style => "left:0" %>
		        <div style = "width:180px;height:180px;left:0;margin-top:360px;background:#000;text-align:center">
			      	<h3 style = "padding:20px 0 0 0">INNOVATE</h3>
			        <p style = "padding:20px 20px 0 20px">Discover new opportunities to invent groundbreaking solutions.</p>
			    </div>
		  </a>
		  <%= image_tag 'green.gif', :size=>"1080x540" %>
		</li>
		<li class="slide open" id="slide-3">
		  <a class="slidebutton" href="javascript:void(0);">
		      	<%= image_tag 'home_3.png', :size=>"180x360", :style => "left:0" %>
		        <div style = "width:180px;height:180px;left:0;margin-top:360px;background:#000;text-align:center">
			      	<h3 style = "padding:20px 0 0 0">ENGAGE</h3>
			        <p style = "padding:20px 20px 0 20px">Inspire communities toward action.</p>
			    </div>
		  </a>
		  <%= image_tag 'orange.gif', :size=>"1080x540" %>
		</li>
		<li class="slide open " id="slide-4">
		  <a class="slidebutton" href="javascript:void(0);">
		      	<%= image_tag 'home_4.png', :size=>"180x360", :style => "left:0" %>
		        <div style = "width:180px;height:180px;left:0;margin-top:360px;background:#000;text-align:center">
			      	<h3 style = "padding:20px 0 0 0">EMPOWER</h3>
			        <p style = "padding:20px 20px 0 20px">Harness the intellectual horsepower of an organization.</p>
			    </div>
		  </a>
	      <%= image_tag 'blue.gif', :size=>"1080x540" %>
		</li>
		<li class="slide open" id="slide-5">
		  <a class="slidebutton" href="javascript:void(0);">
		      	<%= image_tag 'home_5.png', :size=>"180x360", :style => "left:0" %>
		        <div style = "width:180px;height:180px;left:0;margin-top:360px;background:#000;text-align:center">
			      	<h3 style = "padding:20px 0 0 0">LEARN</h3>
			        <p style = "padding:20px 20px 0 20px">Build a mindset of reflection.</p>
			    </div>
		  </a>
		  <%= image_tag 'green.gif', :size=>"1080x540" %>
		</li>
		<li class="slide open" id="slide-6">
		  <a class="slidebutton" href="javascript:void(0);">
		      	<%= image_tag 'home_6.png', :size=>"180x360", :style => "left:0" %>
		        <div style = "width:180px;height:180px;left:0;margin-top:360px;background:#000;text-align:center">
			      	<h3 style = "padding:20px 0 0 0">LEAD</h3>
			        <p style = "padding:20px 20px 0 20px">Lead with wisdom.</p>
			    </div>
		  </a>
		  <%= image_tag 'orange.gif', :size=>"1080x540" %>
		</li>
	</ul>

</div>

