<% content_for :head do %>
  <script type="text/javascript" charset="utf-8">
  	$.preloadImages(['../images/home_1.jpg','../images/home_2.jpg','../images/home_3.jpg','../images/home_4.jpg','../images/home_5.jpg','../images/home_6.jpg']);
  </script>
  
<% end %>

<div id="slideshow">
	<div id="slides">
		<div class="slide open" id="slide-1">
		  <div class="slidebutton" href="javascript:void(0);" id = "1trigger">			
            <div class = "slide_image">
	      	  <%= image_tag 'home_1.jpg', :alt => "" %>
	        </div>
	        <div class = "slideTrigger">
		      	<h3>STRATEGIZE</h3>
		        <p>Define direction in an age of uncertainty.</p>
		    </div>
		  </div>
	      <div class = "panelOpening">	
		    <div class = "panelText">
		    	<h1>Strategize</h1>
			    <div class="col450">
				
				  <p>We can’t avoid complexity. The challenge is in how to respond to it. In an environment of lightning-fast change, how do leaders envision a future that doesn’t yet exist? To address the consequences of complexity, resourceful leaders are looking beyond their traditional instruments of strategy and adopting the inspired tools of conceptualisation, conversation and co-creation.</p>

			      <p>A successful business strategy is a robust blend of imagination and a dynamic collaborative rhythm activated by clear, cohered intent. We work with clients to ignite their inherent creativity and design their future success by:</p> 
			    <ul>
			      <li>revitalizing and harnessing imagination</li>
			      <li>redefining industry landscapes</li>
			      <li>recalibrating enterprise systems</li>
			      <li>re-energizing revenue models</li>
			      <li>reinvigorating legacy products and services.</li>

			    </ul>
			    <p>We use the power of story, conversation and design to help leaders convert complexity into strategic advantage.</p>  
			  </div>
		    </div>
		    <div class = "panelCase">
		    	<div class = "large_image180"><%= image_tag("homeImages/strategize_top.jpg", :size => "540x180" ) %></div>
			    <div class = "caseStudyLink darkSquare"><%= link_to "How do you rethink an industry?", "/casestudies/display/1?KeepThis=true&TB_iframe=true&height=400&width=600", :class => "thickbox" %></div>
			    <div class = "caseStudyLink lightSquare"><%= link_to "How do you shift a deeply bureaucratic enterprise?", "/casestudies/display/12?KeepThis=true&TB_iframe=true&height=400&width=600", :class => "thickbox" %></div>
			    <div class = "caseStudyLink darkSquare"><%= link_to "How do you transform opportunities into new value?", "/casestudies/display/2?KeepThis=true&TB_iframe=true&height=400&width=600", :class => "thickbox" %></div>
			    <div class = "large_image180"><%= image_tag("homeImages/strategize_bottom.jpg", :size => "540x180" ) %></div>
		    </div>
	      </div>
		</div>
		<div class="slide open" id="slide-2">
		  <div class="slidebutton" href="javascript:void(0);" id = "2trigger">			
            <div class = "slide_image">
	      	  <%= image_tag 'home_2.jpg', :alt => ""  %>
	        </div>
	        <div class = "slideTrigger">
		      	<h3>INNOVATE</h3>
		        <p>Discover how to invent groundbreaking solutions.</p>
		    </div>
		  </div>
	      <div class = "panelOpening">	
		    <div class = "panelText">	
			  <h1>	Innovate</h1>
			  <div class="col450">
				<p>Enterprising leaders know that future success relies on a capacity to innovate. Brilliant ideas that deliver a competitive edge require the ability to re-vision, not simply re-formulate. This is accomplished by design - whether looking outwards to re-invent a new market position or inward to revitalise static organisational systems. The three tools of design <%= link_to 'Empathy, Invention, and Iteration', "http://www.amazon.com/Designing-Growth-Thinking-Managers-Publishing/dp/0231158386/ref=sr_1_1?ie=UTF8&qid=1315390214&sr=8-1", :alt => "Grab a copy of Jeanne Liedtka's great book", :title => "Grab a copy of Jeanne Liedtka's great book", :target => "_blank"  %> are essential to capturing important stakeholder stories that lead to creating genuine value.  </p>
			 	<p>If top-line growth is the destination, then design is the vehicle that helps:</p> 
				<ul>	
				  <li>capture and create new customer propositions</li>
				  <li>discover unmet needs that open new opportunities</li>
				  <li>blend wild imagination with hard-nosed invention</li>
				  <li>co-design exceptional experiences for customers and employees</li>
				  <li>embed a creative-disposition into the firm’s culture.</li>
				</ul>
				<p>We use the power of imagination and the process of design to help leaders harness the ability to innovate.</p>
			  </div>		    
		    </div>
		    <div class = "panelCase">
		      <div class = "caseStudyLink darkSquare" id = "innovate1"><%= link_to "How do you sponsor a culture of creativity?", "/casestudies/display/3?KeepThis=true&TB_iframe=true&height=400&width=600", :class => "thickbox" %></div>
			  <div class = "large_image180"><%= image_tag("homeImages/innovate_top_right.jpg", :size => "360x180" ) %></div>

			  <div class = "box_element"><%= image_tag("homeImages/innovate_middle_left.jpg", :size => "180x180" )%></div>	
			  <div class = "caseStudyLink lightSquare"><%= link_to "How do you shift from good service to great experience?", "/casestudies/display/12?KeepThis=true&TB_iframe=true&height=400&width=600", :class => "thickbox" %></div>
			  <div class = "box_element"><%= image_tag("homeImages/innovate_middle_right.jpg", :size => "180x180") %></div>

			  <div class = "large_image180"><%= image_tag("homeImages/innovate_bottom_left.jpg", :size => "360x180" ) %></div>
			  <div class = "caseStudyLink darkSquare" id = "innovate3"><%= link_to "How do you design a customer experience strategy?", "/casestudies/display/4?KeepThis=true&TB_iframe=true&height=400&width=600", :class => "thickbox" %></div>
			    
		    </div>
	      </div>
		</div>
		<div class="slide open" id="slide-3">
		  <div class="slidebutton" href="javascript:void(0);" id = "3trigger">			
            <div class = "slide_image">
	      	  <%= image_tag 'home_3.jpg', :alt => ""  %>
	        </div>
	        <div class = "slideTrigger">
		      	<h3>ENGAGE</h3>
		        <p>Inspire communities toward a common purpose.</p>
		    </div>
		  </div>
	      <div class = "panelOpening">	
		    <div class = "panelText">
		      <h1>	Engage - inspire communities toward action</h1>
			  <div class="col450">
			 	<p>Let’s be honest. Few people like change. Even the most well-intentioned organisational campaigns stall when prevailing mores, inertia or apathy set in. How do you captivate a community’s imagination and sponsorship on a new strategy or innovation program? How do leaders foster individual agency while building a sense of enterprise-wide citizenship? To cultivate and coalesce a community, change initiatives have to engender relevance, significance and meaning for all stakeholders. </p> 
			    <p>Deep, systemic organisational engagement cannot be accomplished through communiqués or a cascaded series of slide presentations. It is best done through the process of conversation-based co-creation. The tapestry of a company’s culture is woven from stories. When leaders truly engage employees in building a shared story of the future, everyone helps to drive change.</p>
			    <p>We use the power of story, inquiry and conversation to help leaders liberate and mobilise the creative energy that forms communities of action.</p>
			  </div>
		    </div>
		    <div class = "panelCase">
		      <div class = "caseStudyLink darkSquare"><%= link_to "How do you create change that employees will embrace?", "/casestudies/display/12?KeepThis=true&TB_iframe=true&height=400&width=600", :class => "thickbox" %></div>
		      <div class = "caseStudyLink lightSquare"><%= link_to "How do you create, share and cohere around a new vision?", "/casestudies/display/12?KeepThis=true&TB_iframe=true&height=400&width=600", :class => "thickbox" %></div>
		      <div class = "caseStudyLink darkSquare" id = "engage3"><%= link_to "How does a new leader create a culture of change in the first 100 days?", "/casestudies/display/5?KeepThis=true&TB_iframe=true&height=400&width=600", :class => "thickbox" %></div>
		      <div class = "large_image360"><%= image_tag("homeImages/engage_bottom.jpg", :size => "540x360" ) %></div>
		    </div>
	      </div>
		</div>
		<div class="slide open" id="slide-4">
		  <div class="slidebutton" href="javascript:void(0);" id = "4trigger">			
            <div class = "slide_image">
	      	  <%= image_tag 'home_4.jpg', :alt => ""  %>
	        </div>
	        <div class = "slideTrigger">
		      	<h3>EMPOWER</h3>
		        <p>Restore clarity, judgement, and discernment.</p>
		    </div>
		  </div>
	      <div class = "panelOpening">	
		    <div class = "panelText">
	            <h1>Empower</h1>

	            <div class="col450">
	              <p>Successful engagement strategies begin with empowered constituents. Too often bureaucratic habits, communication rituals and command-control cultures turn otherwise engaged employees into disenfranchised individuals. If 'knowledge is power', then people need access to the right level of information so they can make knowledge-driven decisions.</p> 
	              <p>Therefore, 'empowered' people need useful information pathways that foster the capacity to contribute to their collective future.  Individuals need the ability to:</p>
	              <ul>  
	                  <li>articulate and promote the intent behind bureaucratic processes</li>

	                  <li>bring clarity and elegance to systems of information</li>
	                  <li>transform command-and-control structures into systems that authorise local decision and action</li>
	                  <li>infuse planning and reporting with rigour and simplicity.</li>

	              </ul>
	            </div>
		    </div>
		    <div class = "panelCase">
		    	<div class = "large_image180"><%= image_tag("homeImages/clarify_top.jpg", :size => "540x180" ) %></div>
			    <div class = "caseStudyLink darkSquare" id = "clarify1"><%= link_to "How do you give local discretion without losing control?", "/casestudies/display/6?KeepThis=true&TB_iframe=true&height=400&width=600", :class => "thickbox" %></div>
			    <div class = "caseStudyLink lightSquare"><%= link_to "How do you report the essentials without losing critical details?", "/casestudies/display/7?KeepThis=true&TB_iframe=true&height=400&width=600", :class => "thickbox" %></div>
			    <div class = "caseStudyLink darkSquare" id = "clarify3"><%= link_to "How do you move a group beyond a mindset of compliance?", "/casestudies/display/8?KeepThis=true&TB_iframe=true&height=400&width=600", :class => "thickbox" %></div>
			    <div class = "large_image180"><%= image_tag("homeImages/clarify_bottom.jpg", :size => "540x180" ) %></div>
		    </div>
	      </div>
		</div>
		<div class="slide open" id="slide-5">
		  <div class="slidebutton" href="javascript:void(0);" id = "5trigger">			
            <div class = "slide_image">
	      	  <%= image_tag 'home_5.jpg', :alt => ""  %>
	        </div>
	        <div class = "slideTrigger">
		      	<h3>LEARN</h3>
		        <p>Build an inquiring mindset.</p>
		    </div>
		  </div>
	      <div class = "panelOpening">	
		    <div class = "panelText">
		        <h1>Learn</h1>

	            <div class="col450">
	                <p>To unlock potential and navigate uncertain futures with creativity and a spirit of enterprise, the path begins with education. If you possess a willingness to learn and an instinct for sense-making and storytelling we will help you refine those skills. We teach all levels of management – from front-line operational staff to board level executives, to help them:</p> 
	                <ul>
	                    <li>awaken imagination</li>
	                    <li>master complexity</li>
	                    <li>instil an innovative mindset</li>
	                    <li>influence and guide the thinking of others</li>
	                    <li>build a rigorous approach to taming wicked problems.</li>

	                </ul>
	                <p>Every course is delivered in a way that allows you to absorb, reflect and discuss how the content can be applied to your professional context.</p> 
	                <p>We use the power of experiential learning to help leaders shift cultures and authorise communities of action.</p>
	            </div>
		    </div>
		    <div class = "panelCase">
			    <div class="box_element"><%= image_tag "homeImages/learn_top_left.jpg", :alt => "", :size => "180x180" %></div>
			    <div class = "caseStudyLink lightSquare"><%= link_to "Workshops to foster design thinking.", "/casestudies/display/9?KeepThis=true&TB_iframe=true&height=400&width=600", :class => "thickbox" %></div>
	            <div class="box_element"><%= image_tag "homeImages/learn_top_right.jpg", :alt => "", :size => "180x180" %></div>
			    <div class = "caseStudyLink darkSquare"><%= link_to "Bite-sized sessions to build serious thinking skills.", "/casestudies/display/10?KeepThis=true&TB_iframe=true&height=400&width=600", :class => "thickbox" %></div>
	            <div class="box_element"><%= image_tag "homeImages/learn_middle.jpg", :alt => "", :size => "180x180" %></div>
			    <div class = "caseStudyLink darkSquare"><%= link_to "Courses to create leaders in strategic thinking for groups.", "/casestudies/display/11?KeepThis=true&TB_iframe=true&height=400&width=600", :class => "thickbox" %></div>
	            <div class="large_image180"><%= image_tag "homeImages/learn_bottom.jpg", :alt => "", :size => "540x180" %></div>
		
		    </div>		
	      </div>
		</div>
		<div class="slide open" id="slide-6">
		  <div class="slidebutton" href="javascript:void(0);" id = "6trigger">			
            <div class = "slide_image">
	      	  <%= image_tag 'home_6.jpg', :alt => ""  %>
	        </div>
	        <div class = "slideTrigger">
		      	<h3>LEAD</h3>
		        <p>Shape social systems with wisdom.</p>
		    </div>
		  </div>
	      <div class = "panelOpening">	
		    <div class = "panelText">
			    <h1>Lead</h1>
			    <div class="col450">

			      <p>Leaders face uncertainty and the unknown. They take on the responsibility of equipping individuals and organisations with the will to make things different and to realise potential. </p> 
			      <p>Designing genuinely better futures requires depth – the mindset and skill to lead with wisdom: </p>
			      <ul>

			        <li>understanding how language shapes reality</li>
			        <li>revitalizing and sustaining core conversations</li>
			        <li>framing compelling arguments for change</li>
			        <li>inspiring confidence and courage to co-design.</li>
			      </ul>
			      <p>We use the power of language, story, conversation and presence to help individuals lead from their own strengths, draw out the brilliance in their teams, face complexity and chaos and engage their people in co-design.</p>
			    </div>		
		    </div>
		    <div class = "panelCase">
			    <div class="large_image180"><%= image_tag "homeImages/lead_top.jpg", :alt => "", :size => "540x180" %></div>
			    <div class = "caseStudyLink darkSquare"><%= link_to "How do you sustain a strong intent for change?", "/casestudies/display/12?KeepThis=true&TB_iframe=true&height=400&width=600", :class => "thickbox" %></div>
			    <div class = "caseStudyLink lightSquare"><%= link_to "How do you write a new chapter for an organization?", "/casestudies/display/12?KeepThis=true&TB_iframe=true&height=400&width=600", :class => "thickbox" %></div>
			    <div class = "caseStudyLink darkSquare"><%= link_to "How do you kindle the brilliance in a team?", "/casestudies/display/12?KeepThis=true&TB_iframe=true&height=400&width=600", :class => "thickbox" %></div>
			    <div class="large_image180"><%= image_tag "homeImages/lead_bottom.jpg", :alt => "", :size => "540x180" %></div>

	    	
		
		    </div>
	      </div>
		</div>
		<div class="slide open" id="slide-7">
		  <a class="deadbutton" href="javascript:void(0);">
		  </a>
		    <div class = "panelCase">
		    </div>
		    <div class = "panelCase">
		    </div>

		</div>
		

	</div>

</div>
