

<div id="slideshow">
	<div id="slides">
		<div class="slide open active" id="slide-1">
		  <div class="slidebutton" href="javascript:void(0);">			
	      	<%= image_tag 'home_1.png', :class => "slide_image" %>
	        <div class = "slideTrigger">
		      	<h3 style = "padding:20px 0 0 0">STRATEGIZE</h3>
		        <p style = "padding:20px 20px 0 20px">Define direction in an age of uncertainty.</p>
		    </div>
		  </div>
	      <div class = "panelOpening">	
		    <div class = "panelText">
		    	<h1>Strategize</h1>
			    <div class="col450">

			      <p>A successful strategy is a robust blend of imagination and coherent intent - a dynamic fit of meaning and context. We work with clients to ignite their inherent creativity and to design their future success by:</p> 
			    <ul>
			      <li>revitalizing and harnessing imagination</li>
			      <li>redefining the industry landscape</li>
			      <li>recalibrating enterprise systems</li>
			      <li>re-energizing revenue models</li>

			      <li>reinvigorating legacy products and services.</li>

			    </ul>
			    </div>
			    <div class="col450">  
			      <p>We have used the power of story, conversation and design to help leaders:  </p>
			      <ul>
			        <li>Rethink their industries and build new pathways into the future</li>

			        <li>Change deeply bureaucratic systems to become more relevant to customers</li>
			        <li>Create compelling value propositions that translate into competitive advantage.</li>

			      </ul>
			    </div>
		    </div>
		    <div class = "panelCase">
		    	<div class = "large_image180"><%= image_tag("homeImages/lead_top.jpg", :size => "540x180" ) %></div>
			    <div class = "caseStudyLink darkSquare"><p>How do you engage all stakeholders?</p></div>
			    <div class = "caseStudyLink lightSquare"><p>How do you influence with wisdom?</p></div>
			    <div class = "caseStudyLink darkSquare"><p>How do you kindle the brilliance in a team?</p></div>
			    <div class = "large_image180"><%= image_tag("homeImages/lead_bottom.jpg", :size => "540x180" ) %></div>
		    </div>
	      </div>
		</div>
		<div class="slide open" id="slide-2">
		  <div class="slidebutton" href="javascript:void(0);">			
	      	<%= image_tag 'home_2.png', :class => "slide_image" %>
	        <div class = "slideTrigger">
		      	<h3 style = "padding:20px 0 0 0">INNOVATE</h3>
		        <p style = "padding:20px 20px 0 20px">Discover new opportunities to invent groundbreaking solutions.</p>
		    </div>
		  </div>
	      <div class = "panelOpening">	
		    <div class = "panelText"></div>
		    <div class = "panelCase"></div>
	      </div>
		</div>
		<div class="slide open" id="slide-3">
		  <div class="slidebutton" href="javascript:void(0);">			
	      	<%= image_tag 'home_3.png', :class => "slide_image" %>
	        <div class = "slideTrigger">
		      	<h3 style = "padding:20px 0 0 0">ENGAGE</h3>
		        <p style = "padding:20px 20px 0 20px">Inspire communities toward action.</p>
		    </div>
		  </div>
	      <div class = "panelOpening">	
		    <div class = "panelText"></div>
	      </div>
		</div>
		<div class="slide open" id="slide-4">
		  <div class="slidebutton" href="javascript:void(0);">			
	      	<%= image_tag 'home_4.png', :class => "slide_image" %>
	        <div class = "slideTrigger">
		      	<h3 style = "padding:20px 0 0 0">EMPOWER</h3>
		        <p style = "padding:20px 20px 0 20px">Harness the intellectual horsepower of an organization.</p>
		    </div>
		  </div>
	      <div class = "panelOpening">	
		    <div class = "panelText"></div>
	      </div>
		</div>
		<div class="slide open" id="slide-5">
		  <div class="slidebutton" href="javascript:void(0);">			
	      	<%= image_tag 'home_5.png', :class => "slide_image" %>
	        <div class = "slideTrigger">
		      	<h3 style = "padding:20px 0 0 0">LEARN</h3>
		        <p style = "padding:20px 20px 0 20px">Build a mindset of reflection.</p>
		    </div>
		  </div>
	      <div class = "panelOpening">	
		    <div class = "panelText"></div>
	      </div>
		</div>
		<div class="slide open" id="slide-6">
		  <div class="slidebutton" href="javascript:void(0);">			
	      	<%= image_tag 'home_6.png', :class => "slide_image" %>
	        <div class = "slideTrigger">
		      	<h3 style = "padding:20px 0 0 0">LEAD</h3>
		        <p style = "padding:20px 20px 0 20px">Lead with wisdom.</p>
		    </div>
		  </div>
	      <div class = "panelOpening">	
		    <div class = "panelText"></div>
	      </div>
		</div>
		<div class="slide open" id="slide-7">
		  <a class="slidebutton" href="javascript:void(0);">
		      	<%= image_tag 'blue.gif', :size=>"180x540", :style => "left:0" %>
		  </a>
		  <%= image_tag 'orange.gif', :size=>"1080x540" %>
		</div>
		

	</div>

</div>
