<%= form_for(@history_story) do |f| %>
<%= f.error_messages %>


  <div class="field">
    <%= f.label :start_year %><br />
    <%= f.text_field :start_year %>
  </div>
  <div class="field">
    <%= f.label :end_year %><br />
    <%= f.text_field :end_year %>
  </div>

  <div class = "field">
    <%= f.label :client_id %><br />
    <%= collection_select(:history_story, :client_id, @clients, :id, :name, {:prompt => false, :include_blank => true}) %>
  </p>

  <div class="field">
    <%= f.label :alternative_title %><br />
    <%= f.text_field :alternative_title %>
  </div>
  <div class="field">
    <%= f.label :text %><br />
    <%= f.text_area :text %>
  </div>
  <div class="field">
    <%= f.label :display %><br />
    <%= f.check_box :display %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
