<p id="notice"><%= notice %></p>

<p>
  <b>Start year:</b>
  <%= @history_story.start_year %>
</p>

<p>
  <b>End year:</b>
  <%= @history_story.end_year %>
</p>

<p>
  <b>Client:</b>
  <%= @history_story.client %>
</p>

<p>
  <b>Alternative title:</b>
  <%= @history_story.alternative_title %>
</p>

<p>
  <b>Text:</b>
  <%= @history_story.text %>
</p>

<p>
  <b>Display:</b>
  <%= @history_story.display %>
</p>


<%= link_to 'Edit', edit_history_story_path(@history_story) %> |
<%= link_to 'Back', history_stories_path %>
