  <nav class="mainNav">
	<ul>
      <li><%= link_to "What We Do", "/what-we-do", :class => ("what_we_do" if @title == "What We Do") %>
	    <ul class = 'subnav'>	
          <li><%= link_to "Strategize", '#', :class => "menu_trigger" , :id => "1"  %></li>
          <li><%= link_to "Innovate", '#', :class => "menu_trigger", :id => "2" %></li>
          <li><%= link_to "Engage", '#', :class => "menu_trigger", :id => "3" %></li>
          <li><%= link_to "Empower", '#', :class => "menu_trigger", :id => "4" %></li>
          <li><%= link_to "Learn", '#', :class => "menu_trigger", :id => "5" %></li>
          <li><%= link_to "Lead", '#', :class => "menu_trigger", :id => "6" %></li>
        </ul>

      </li>
      <li><%= link_to "Who We Are", "/our-community", :class => "whoWeAre parent" %>
	    <ul class = 'subnav'>
		  <%= content_tag :li, :class => ("active" if @title == "Our Community") do -%>
		    <%= link_to "Our Community", "/our-community", :class => ("active" if @title == "Our Community")%>
		  <% end -%>
		  <%= content_tag :li, :class => (@title == "Our Story"? "story active" : "story") do -%>
		    <%= link_to "Our Story", "/our-story", :class => ("active" if @title == "Our Story") %>
		  <% end -%>
		  <%= content_tag :li, :class => (@title == "Our Clients"? "dna active" : "dna") do -%>
		    <%= link_to "Our Clients", clients_path, :class => ("active" if @title == "Our Clients") %>
		  <% end -%>
        </ul>
      </li>
      <li><a class="whatsNew parent">What's New</a>
	    <ul class = 'subnav'>
		  <%= content_tag :li, :class => ("active" if @title == "Articles") do -%>
		    <%= link_to "Articles", articles_path, :class => ("active" if @title == "Articles")  %>
		  <% end %>	
		  <%= content_tag :li, :class => ("active" if @title == "Blog") do -%>
		    <%= link_to "Blog", blogposts_path, :class => ("active" if @title == "Blog")  %>	
		  <% end %>	
        </ul>
      </li>
      <li><%= link_to "Contact Us", "/contact-us" %>
	    <ul class = 'subnav'></ul>
      </li>

	  <% if admin? %>
      <li class = 'admin_link'><%= link_to "Admin", admin_path %></li>
	  <% end %>  



    </ul>
</nav>
